<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List Paging</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

<div class="container p4 m4">
    <p th:text="${page.number}"></p>
    <div class="row" th:if="${page.content != null and !#lists.isEmpty(page.content)}">

        <div class="col-1">Product Code</div>
        <div class="col-2">Product name</div>
        <div class="col-1">Product Line</div>
        <div class="col-1">Product Scale</div>
        <div class="col-2">Product Vendor</div>
        <div class="col-2">Product Price</div>
        <div class="col-2">Update/Delete</div>
    </div>
    <div class="row p4" th:each="p : ${page.content}">
        <div class="col-1">
            <a th:href="@{'/products?productCode='+${p.productCode}}">
                <span th:text="${p.productCode}"></span>
            </a>
        </div>
        <div class="col-2" th:text="${p.productName}"></div>
        <div class="col-1" th:text="${p.productLine.productLine}"></div>
        <div class="col-1" th:text="${p.productScale}"></div>
        <div class="col-2" th:text="${p.productVendor}"></div>
        <div class="col-2" th:text="${p.buyPrice}"></div>
        <div class="col-2">
            <a th:href="@{'/products/delete-product?productCode='+${p.productCode}}">
                <button style="background-color: lightsalmon">Delete</button>
            </a>
            <a th:href="@{'/products/update_product?productCode='+${p.productCode}}">
                <button style="margin-left: 10px; background-color: aqua">Update</button>
            </a>
        </div>
    </div>
</div>
<hr>
<span th:each="index : ${#numbers.sequence(1,page.totalPages)}">
    <a th:if="${(index - 1) != page.number} " th:href="@{/products/paging(page=${index}-1, size=5)}"
       th:text="${index}"></a>

    <button th:if="${(index - 1)  == page.number}" disabled th:text="${index}"/>
</span>

<hr>
<a href="/">
    <button>[Home]</button>
</a>
<a href="/products/add_product">
    <button>Add New Product</button>
</a>
</body>
</html>
