<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Office List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

<div class="row">
    <div class="col-4">
        <h1 class="">Product List ::</h1>
    </div>
    <div class="col-8 ml-4 pt-2">
        <span style="margin-left: 100px"></span>

        <form action="/products/search-product" method="get">
            <input type="text" name="searchParam" th:value="${param.searchParam}"
                   placeholder="Enter text to search product form any field">
            <input type="submit" th:value=" Search ">
        </form>
    </div>

    <div class="col-4 pt-2">
        <form action="/products/search-product-by-price" method="get">
            Filter By Price:
            <input type="number" name="lowerPrice" min="1.0" max="9999.0" th:value="${param.lowerPrice}">
            <input type="number" name="upperPrice" min="1.0" max="9999.0" th:value="${param.upperPrice}">
            <input type="submit" th:value="search">
        </form>
    </div>
</div>

<hr>
<div class="container p4 m4">
    <!-- Uncomment this block if you want to show a message when no products are found -->
    <div class="row h3 text-danger" th:if="${#lists.isEmpty(products)}">
        <span th:text="${param.searchParam + ' does not exist!!'}"></span>
    </div>

    <div class="row" th:if="${products != null and !#lists.isEmpty(products)}">
        <div class="col-1">Product Code</div>
        <div class="col-2">Product name</div>
        <div class="col-1">Product Line</div>
        <div class="col-1">Product Scale</div>
        <div class="col-2">Product Vendor</div>
        <div class="col-2">Product Price</div>
        <div class="col-2">Update/Delete</div>
    </div>
    <div class="row p4" th:each="p : ${products}">
        <div class="col-1">
            <a th:href="@{'/products?productCode='+${p.productCode}}">
                <span th:text="${p.productCode}"></span>
            </a>
        </div>
        <div class="col-2" th:text="${p.productName}"></div>
        <div class="col-1" th:text="${p.productLine.productLine}"></div>
        <div class="col-1" th:text="${p.productScale}"></div>
        <div class="col-2" th:text="${p.productVendor}"></div>
        <div class="col-2" th:text="${p.buyPrice}"></div>
        <div class="col-2">
            <a th:href="@{'/products/delete-product?productCode='+${p.productCode}}">
                <button style="background-color: lightsalmon">Delete</button>
            </a>
            <a th:href="@{'/products/update_product?productCode='+${p.productCode}}">
                <button style="margin-left: 10px; background-color: aqua">Update</button>
            </a>
        </div>
    </div>
</div>
<hr>
<a href="/">
    <button>[Home]</button>
</a>
<a href="/products/add_product">
    <button>Add New Product</button>
</a>
</body>
</html>
